.mainGraph {
	width: 900px;
	height: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	position: absolute;
}

.secondGraph {
	position: absolute;
	width: 900px;
	border: 3px solid black;
	background-color: #E7E7E7;
	margin: 0px;
}

#algorithms {
	position: absolute;
	width: 900px;
	margin: 0px;
	margin-left: 920px;
}

#graph {
	width: 920px;
	position: absolute;
}

#weights {
	width: 900px;
	height: 900px;
	position: absolute;
	z-index: 10;
}

#weights2 {
	width: 900px;
	height: 900px;
	position: relative;
	z-index: 10;
}


#butMainGraph {
	position: relative;
	padding-top: 906px;
}

#butUnderSecondGraph {
	position: relative;
	padding-top: 2px;
}
